@font-face {
    font-family: 'FontAwesome';
    src: url('./assets/fonts/fontawesome-webfont.woff') format('woff'),
         url('./assets/fonts/fontawesome-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #111827;
    color: #F5F5F5;
    font-family: 'FontAwesome', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.body {
    height: 400px;
}