.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .content {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: center;    /* Выравнивание по центру */
  }
  
  .tap-card {
    margin-bottom: 20px; /* Отступ между текстом и стрелкой */
    font-size: 24px;
    font-weight: bold;
  }
  
  .arrow {
    display: flex;
    align-items: center;
    animation: flow 1.5s infinite;
  }
  
  .arrow-body {
    width: 200px;
    height: 20px;
    background-color: #007bff;
    position: relative;
    margin-right: 5px;
  }
  
  .arrow-head {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 30px solid #007bff;
  }
  
  /* Анимация переливания */
  @keyframes flow {
    0% {
      opacity: 0.3;
      transform: translateX(0);
    }
    50% {
      opacity: 1;
      transform: translateX(20px);
    }
    100% {
      opacity: 0.3;
      transform: translateX(0);
    }
  }