.header {
    display: flex;
    justify-content: space-between; /* Лого слева, текст справа */
    align-items: center; /* Выравнивание по вертикали */
    position: relative;
    width: 100vw; /* Ширина контейнера на всю ширину экрана */
    padding: 0 20px; /* Отступы внутри контейнера */
    box-sizing: border-box;
}

.logo {
    margin-top: 20px;
}

.text {
    width: 100%;
    padding-right: 40px;
    text-align: right;
}