header {
    width: 100%;
    padding: 20px;
    box-sizing: border-box; /* Учитываем padding в ширине */
    height: 250px;
}

.header {
    position: block;
    width: 100%;
}

.logo {
    align-self: flex-start; /* Логотип будет выровнен по левому краю */
    margin-bottom: 10px;    /* Отступ между логотипом и текстом */
}

.text {
    width: 100%;            /* Занимает всю доступную ширину */
    text-align: center;     /* Центрируем текст по горизонтали */
}